[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Danny Solivan
	email = dark@nightconcept.net
	signingkey = 8C8CADC9D78265A8
[safe]
	directory = D:/git/dotfiles
	directory = D:/git/obsidian-vault
	directory = D:/git/solivan-dev
	directory = D:/git/swyxkit
	directory = F:\\Games\\catseyexi
	directory = .\\catseyexi-client\\
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = D:/git/resume-md
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
	directory = F:\\Games\\catseyexi\\catseyexi-client
	directory = F:\\Games\\catseyexi\\catseyexi-client\\Ashita\\polplugins\\DATs\\ffxi-hd
[credential "helperselector"]
	selected = manager-core
[core]
	editor = \"C:/Users/dark/scoop/apps/gitextensions/current/GitExtensions.exe\" fileeditor
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[commit]
	gpgsign = true
[gpg]
	program = C:\\Users\\dark\\scoop\\apps\\gpg\\current\\bin\\gpg.exe
[credential "https://git-codecommit.us-east-1.amazonaws.com"]
	provider = generic
[init]
	defaultBranch = main
[diff]
	guitool = bc
[difftool "bc"]
	path = C:/Users/dark/scoop/apps/beyondcompare/current/BComp.exe
	cmd = \"C:/Users/dark/scoop/apps/beyondcompare/current/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
	guitool = bc
[mergetool "bc"]
	path = C:/Users/dark/scoop/apps/beyondcompare/current/BComp.exe
	cmd = \"C:/Users/dark/scoop/apps/beyondcompare/current/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
