APP_IMAGE=ghcr.io/bookorbit/bookorbit:latest
BOOKS_HOST_PATH=/mnt/titan
DATA_PATH=/home/danny/docker/bookorbit/data
DOMAIN=solivan.dev
LOCAL_DOMAIN=local.solivan.dev
SUBDOMAIN=books
LIBRARY_BROWSE_ROOT=/books
PUID=1000
PGID=1000
POSTGRES_USER=bookorbit
POSTGRES_PASSWORD=CHANGE_THIS_POSTGRES_PASSWORD
POSTGRES_DB=bookorbit
JWT_SECRET=CHANGE_THIS_JWT_SECRET
SETUP_BOOTSTRAP_TOKEN=CHANGE_THIS_SETUP_BOOTSTRAP_TOKEN
APP_URL=https://books.solivan.dev
NODE_MAX_OLD_SPACE_SIZE=2048
